@import url(/web/css/font/lato.min.css);
@import url(/web/css/font/poppins.min.css);
@import url(/web/css/font/roboto.min.css);

* {margin: 0;padding: 0;box-sizing: border-box;}

h1 {font-family: LatoBold;}
h1 b {font-family: LatoBold;}
h1 i {font-family: LatoBoldItalic;}
h2 {font-family: LatoRegular;}
h2 b {font-family: LatoBold;}
h2 i {font-family: LatoRegularItalic;}
h3 {font-family: LatoLight;}
h3 b {font-family: LatoRegular;}
h3 i {font-family: LatoLightItalic;}
p {font-family: LatoRegular;}
b {font-family: LatoBold;}
i {font-family: LatoRegularItalic;}

::selection {
  color: #000;
  background-color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: LatoRegular;
  padding-top: 0;
  margin-top: 0;
  transition: background-color 0.4s ease-in-out;
  z-index: 1000;
  .site-name {
    color: #ddd;
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
  .active {
    font-family: LatoBold;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
  }
  ul li a {
    color: #ddd;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.3s ease;
  }
  ul li a:hover {
    color: #999;
  }
}

.transparent {background-color: rgba(0, 0, 0, 0);}
.scrolled {background-color: rgba(0, 0, 0, 1);}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .bgimage {
    height: 100%;
    background-image: url('/image/jpeg/trees.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transform: scale(1.1);
    right: 0;
    left: 0;
    z-index: 1;
  }
  .bgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ddd;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    z-index: 2;
  }
}

.content {
  padding: 1.5rem;
  background-color: #000;
  color: #ddd;
  text-align: center;
}