@import url("https://cdn.mcalec.dev/font/lato.min.css");
@import url("https://cdn.mcalec.dev/font/poppins.min.css");
@import url("https://cdn.mcalec.dev/font/roboto.min.css");

.navbar {
  text-align: center;
  background-image: url(https://cdn.mcalec.dev/img/png/paint.png);
  color: transparent;
  font-family: Lato;
  margin: auto;
  padding: 0px 0px 0px 0px;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    display: inline;
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: white;
    font-family: LatoBold;
  }

  li a:active {
    background-color: black;
    color: black;
  }

  .active {
    color: black;
  }

}

.navbar-left {
  text-align: center;
  background-image: url(https://cdn.mcalec.dev/img/png/paint.png);
  color: transparent;
  font-family: Lato;
  margin: auto;
  padding: 0px 0px 0px 0px;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    display: inline;
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
}
