@import url("https://cdn.mcalec.dev/font/lato.min.css");
@import url("https://cdn.mcalec.dev/font/poppins.min.css");
@import url("https://cdn.mcalec.dev/font/roboto.min.css");

*{
  box-sizing: border-box;
}

.main {
  background-image: url("https://cdn.mcalec.dev/image/jpeg/trees.jpeg");
  background-attachment: scroll;
  background-position: center;

  color: black;
  font-family: Lato;
  padding-top: 43.5vb;
  padding-bottom: 43.5vb;
}

.footer {
  background-color: #1c1c1c;
  text-align: center;
  color: white;
  font-family: Lato;
  padding-top: 12px;
  padding-bottom: 30px;
  margin: auto;
  text-decoration: none;
  font-size: medium;
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li a {
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li {
    display: inline;
  }

}


/* Titles */
h1 {
  color: white;
  text-align: center;
  font-family: LatoBold;
  font-size: xxx-large;
}


button {
  font-family: LatoBold;
  text-align: center;
  height: 50px;
  width: 200px;
  background-color: White;
  border-radius: 150px;
  border: 4px solid Black;
}

html, body {
  margin: 0px;
  margin-top: 0px;
  padding-top: 0px;
}  

button:hover {
  font-family: LatoBold;
  color: White;
  background-color: Black;
  cursor: pointer;
  border-radius: 150px;
  border: 4px solid White;
}

body {
  background-image: url("https://cdn.mcalec.dev/image/png/paint.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center;
}

b {
  font-family: LatoBold;
}

i {
  font-family: LatoItalic;
}

.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
  place-items: center;
}
